.shop-container{
     display: grid;
     grid-template-columns: 5fr 1.5fr;
}

.products-container{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 45px;
     margin: 70px 50px;
}

.cart-container{
     position: sticky;
     top: 0;
     z-index: 10;
}