.product-card {
  border: 1px solid #95a0a7;
  border-radius: 8px;
  position: relative;
  height: 515px;
}

.product-card img {
  width: 286px;
  height: 286px;
  display: block;
  margin: 5px auto;
  border-radius: 5px;
}

.product-info{
    padding: 0 10px;
}

.product-info h3 {
  font-size: 17px;
}

.product-info p {
  font-size: 17px;
}

.cart-btn{
     position: absolute;
     bottom: 0;
     width: 100%;
     border: 0;
     border-bottom-right-radius: 8px;
     border-bottom-left-radius: 8px;
     cursor: pointer;
     font-weight: 700;
     font-size: 15px;
     background-color: #FFE0B3;
     padding: 12px;
}

.cart-btn svg{
     margin: 0 10px;
}