nav {
  background-color: #1c2b35;
  padding: 16px 0;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1195px;
  margin: 0 auto;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.005em;
  margin: 0 10px;
}

.nav-links a.active{
  color: #ff0000;
  font-weight: 800;
}

.nav-links a:hover{
     color: #ff9900;
}